+popup#bani-item4.banya
    .banya__about 
        .banya__head 
            .banya__head-title «Народный выбор»
            .banya__scales 
                .banya__scale
                    +picture(png, `${assetsIco}scales`, 'n').banya__scale-img--1
                    .banya__scale-text 4х2,4
                .banya__scale
                    +picture(png, `${assetsIco}user`, 'n').banya__scale-img--2
                    .banya__scale-text 4+ чел.
        .banya__slider(data-uk-slider)
            - var numberOfItems = 5
            .banya__slider-container.uk-slider-container
                ul.uk-slider-items
                    - for (var i = 1; i <= numberOfItems; i++)
                        li.banya__slider-item
                            +picture(jpg, `${assets}banya2-i${i}`, 'n')
            .banya__slider-nav
                a.slidenav-btn.slidenav-prev.d-none.d-md-inline(href="#" data-uk-slider-item="previous")
                        +icon('angle-left')
                .slidegal
                    - for(var i = 1; i <= numberOfItems; i++)
                        .slidegal-item(class=`${i == 1 ? 'active' : ''}`)
                           +picture(jpg, `${assets}banya2-i${i}-min`, 'n')
                a.slidenav-btn.slidenav-next(href="#" data-uk-slider-item="next")
                    +icon('angle-right')

        .banya__price.d-md-none От #[strong 202 900]р.
        .banya__title Каркасная Баня «Народный выбор» с&nbsp;террасой 2х4м
        .banya__dims 
            p - габариты 4х2.4
            p - вместимость 4+ чел.
        .banya__points 
            p - утепление только парной 170 900 ₽ (утепляется только парное отделение, без утепления пола.)
            p - вся утеплена, кроме пола 184 900 ₽ (вся баня утеплена кроме пола во всей бане)
            p - полностью утепленная 199 000 ₽ Доп. опция: терраса 2х4 при заказе бани с учетом скидки 36 000 ₽
        .banya__newcomer.d-none.d-md-flex
            a.banya__btn.uk-button.btn-solid-primary(href="#callback" data-uk-toggle data-descr="Каркасная Баня «Народный выбор» с террасой") Оставить заявку
            .banya__price От #[strong 202 900]р.
        .banya__notice Размеры, планировка и комплектация Бани могут меняться в Зависимости от&nbsp;расположения на участке и желаний «Заказчика». Уточняйте у Менеджера
        a.banya__btn.uk-button.btn-solid-primary.d-md-none(href="#callback" data-uk-toggle data-descr="Каркасная Баня «Народный выбор» с террасой") Оставить заявку
    .banya__chars
        .banya__chars-title Общие характеристики
        ul 
            li.banya__chars-i
                .banya__chars-ititle Фундамент (в подарок)
                .banya__chars-idescr доломитобетонные блоки 6-10 шт 200х400мм
            li.banya__chars-i 
                .banya__chars-ititle Опорные лаги
                .banya__chars-idescr сдвоенный брус 100х150мм 2 шт
            li.banya__chars-i 
                .banya__chars-ititle Силовой каркас
                .banya__chars-idescr брус сечением не менее 45х95мм
            li.banya__chars-i 
                .banya__chars-ititle Фасад
                .banya__chars-idescr имитация бруса 135
            li.banya__chars-i 
                .banya__chars-ititle Отделка
                .banya__chars-idescr евро-вагонка «сосна», «липа»*, «осина»*, «кедр»*
            li.banya__chars-i 
                .banya__chars-ititle.fw-600 Утепление
                .banya__chars-idescr 
            li.banya__chars-i 
                .banya__chars-ititle Парная
                .banya__chars-idescr 100мм каменная вата
            li.banya__chars-i 
                .banya__chars-ititle Потолок
                .banya__chars-idescr минеральная вата 100мм
            li.banya__chars-i 
                .banya__chars-ititle Пол
                .banya__chars-idescr пенопластовая крошка 100мм
            li.banya__chars-i 
                .banya__chars-ititle Полы
                .banya__chars-idescr шпунтовая доска 28 мм «сосна»\«лиственница»*
            li.banya__chars-i 
                .banya__chars-ititle Желоб для слива в парной зоне
                .banya__chars-idescr оцинкованный желоб с выводом трубы ф40мм
            li.banya__chars-i 
                .banya__chars-ititle Печь
                .banya__chars-idescr дровянная на 12м3 «сталь 6мм»
            li.banya__chars-i 
                .banya__chars-ititle Бак для вода
                .banya__chars-idescr натрубный бак на 55 литров
            li.banya__chars-i 
                .banya__chars-ititle Дверь входная
                .banya__chars-idescr клиновая «сосна», пластиковая со стеклом \металлическая
            li.banya__chars-i 
                .banya__chars-ititle Дверь в парную
                .banya__chars-idescr каркасная «Липа», *термо-стекло
            li.banya__chars-i 
                .banya__chars-ititle Окно
                .banya__chars-idescr деревянное со стеклопакетом, *пластиковая
        .banya__chars-dop * - дополнительная опция/зависит от комплектации