+popup(id="promo")
    .promo__ibg.ibg 
        +picture-min(jpg, `${modules}promo-ibg`, `${modules}promo-ibg`, 'sml')
    picture
        source(media=`(min-width: ${lg}px)` srcset=`${modules}promo-text-lg.svg`)
        source(media=`(min-width: ${md}px)` srcset=`${modules}promo-text-md.svg`)
        source(media=`(min-width: 0px)` srcset=`${modules}promo-text-sm.svg`)
        img.promo__img(src=`${modules}promo-text-lg.svg` alt='')
    p.promo__title Условия акции
    .promo__text
        p Каждый клиент заключивший договор с 1 апреля по 30 июня участвует в АКЦИИ и получает номер участника.
        p А 1 июля в прямом эфире мы объявим победителя и вернем ему 100% от стоимости бани. 
        p Следите за условиями:#[br]— нужно быть подписанным на наши instagram аккаунты:#[br]📍производство Саратов @uyutdom64#[br]📍производство Энгельс @uyutdom64engels#[br]— заключить договор на баню до 30 июня включительно#[br]— после покупки бани выложить пост о покупке у себя на странице#[br]— оставить комментарий под этим постом с Акцией, например: я участвую
    form.promo__form(action="#") 
        p.promo__form-title Отправьте свои данные для участия в акции
        .promo__form-inputs
            .input-wrap 
                input.input(type="text" name="Имя" placeholder="Введите имя")
            .input-wrap 
                input.input.phone(type="tel" name="Телефон" placeholder="Введите номер телефона")
        button.promo__form-submit.uk-button.btn-solid-primary(type="submit") Отправить
        a.promo__form-inst.uk-button.btn-solid-primary(href=instLink target="_blank") 
            +icon('inst')
            span Наш инстаграм
        p.promo__form-agreement Нажимая на кнопку «Отправить», Вы соглашаетесь на обработку Ваших персональных данных в соответствии с Политикой конфиденциальности

