extends modules/layout/_layout

prepend head
	title Каркасные бани по ГОСТу в Саратове и области с доставкой за 10 дней | Открытое производство
	meta(name="description", content="Производим каркасные бани по ГОСТу и СНиПам за 10 дней. Доставка и установка за 1 день. Широкий выбор. Открытое производство в Саратове и Энгельсе.")

block header
	header.header 
		.container
			.header__row
				a.header__logo()
					+picture(png, `${assets}logo`, 'n')
				.header__adress
					+icon('pin')
					p Саратов#[br] ул. Панфилова 53
				.header__contacts 
					+icon('hphones')
					div
						a.header__contacts-tel(href!=phoneLink)= phoneNumber
						.header__contacts-range Каждый день с 8:00-20:00
				//- <script data-b24-form="click/12/onktgg" data-skip-moving="true"> (function(w,d,u){ var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/180000|0); var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h); })(window,document,'https://cdn-ru.bitrix24.ru/b15381732/crm/form/loader_12.js'); </script>
				a.header__btn.uk-button.btn-outline-primary(href="#callback" data-uk-toggle) Заказать обратный звонок

block footer
	footer.footer 
		.container
			.footer__row
				.footer__contacts 
					+icon('hphones')
					div
						a.footer__contacts-tel(href!=phoneLink)= phoneNumber
						.footer__contacts-range Каждый день с 8:00-20:00
				.footer__icons 
					a(href!=ytLink target="_blank")
						+icon('yt')
					a(href!=instLink target="_blank")
						+icon('inst')
					a(href!=vkLink target="_blank")
						+icon('vk')
				.footer__adress
					+icon('pin')
					p Саратов#[br] ул. Панфилова 53
				a.footer__logo()
					+picture(png, `${assets}logo`, 'n')
				.footer__creds 
					.footer__ogr ОГРНИП 320645100031188
					.footer__ip ИП Валиулин Руслан Надирович
					.footer__c © 2021 Все права защищены.
					a.footer__policy(href=privacyLink target="_blank") Политика конфиденциальности

block content
	main.main
		section.s11 
			.container.s11__container
				+picture-min(jpg, `${assets}s11-man`, `${assets}s11-man`, 'sm').s11__img-man
				h1.s11__title Все еще выбираете#[br] компанию #[span.text-green где заказать#[br] баню выгодно?]
				.s1__float.s11__float
					+picture(png, `${assets}s1-list-i4`, 'n').s1__float-img
					.s1__float-text Установка за 1 час#[br] на вашем участке
		section.s12
			.container 	
				h2.s12__title Уютный дом 64 — это
				.s12__blocks 
					.s12__block
				ul.s12__list 
					li.s12__item
						+picture(png, `${assetsIco}shield-ok`, 'n').s12__item-img
						.s12__item-text Каркасные бани за 10 дней с гарантией до&nbsp;5&nbsp;лет и доставкой по&nbsp;всей России и СНГ.
					li.s12__item
						+picture(png, `${assetsIco}cube`, 'n').s12__item-img
						.s12__item-text Строим в строгом соответствии с&nbsp;ГОСТом и СНиПам
					li.s12__item
						
						+picture(png, `${assetsIco}cask`, 'n').s12__item-img
						.s12__item-text Все рабочие имеют квалификацию и&nbsp;проходят регулярные проверки
					li.s12__item
						
						+picture(png, `${assetsIco}wallet`, 'n').s12__item-img
						.s12__item-text Удобная система оплаты —#[br] для старта проекта нужно внести всего 1000₽
					li.s12__item
						+picture(png, `${assetsIco}map`, 'n').s12__item-img
						.s12__item-text Находимся в районе Саратова и&nbsp;Энгельса — вы можете  в живую увидеть ппроизводство вашей бани
		section.s9
			.container 
				h2.s9__title Посмотрите отзывы#[br.d-md-none] #[span.text-green наших#[br.d-none.d-md-inline.d-lg-none] клиентов]
				.s9__slider(data-uk-slider="center: true;")
					.s9__slider-container.uk-slider-container
						ul.uk-slider-items 
							- for(var x = 1; x <= 6; x++)
								li.s9__slider-item
									.s9__slider-ibg.ibg 
										+picture(jpg, `${assets}s9-i${x}`, 'n')
									a.s9__slider-play(href=`#video${x}` data-uk-toggle)
										svg(width="129" height="130" viewBox="0 0 129 130" fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio="none")
											circle(cx="64.7239" cy="64.7835" r="64.2601" fill="white")
											path(d="M64.7246 10.2834C34.3494 10.2834 9.72461 34.6839 9.72461 64.7834C9.72461 94.883 34.3494 119.283 64.7246 119.283C95.0999 119.283 119.725 94.883 119.725 64.7834C119.725 34.6839 95.0999 10.2834 64.7246 10.2834ZM83.734 67.6724L56.234 84.7036C55.6775 85.0479 55.0448 85.2209 54.4121 85.2209C53.8389 85.2209 53.2648 85.0796 52.7454 84.7935C51.6527 84.1931 50.9746 83.0537 50.9746 81.8147V47.7522C50.9746 46.5132 51.6527 45.3738 52.7454 44.7734C53.838 44.1697 55.1742 44.2063 56.234 44.8633L83.734 61.8945C84.7386 62.5183 85.3496 63.6094 85.3496 64.7834C85.3496 65.9575 84.7386 67.0488 83.734 67.6724Z" fill="#96C12A")
					+slider-nav().s9__slider-nav.d-lg-none
					.s9__slider-nav.d-none.d-lg-flex
						a.s9__slider-nav-angle.s9__slider-nav-angle--left(href="#" data-uk-slider-item="previous")
							+icon('angle-left')
						a.s9__slider-nav-angle.s9__slider-nav-angle--right(href="#" data-uk-slider-item="next")
							+icon('angle-right')
		section.s13
			.container 
				h2.s13__title Успейте забронировать#[br] баню #[span.text-green по старой цене]
				.s13__subtitle К сожалению, материалы дорожают#[br] каждый месяц на 20%
				+picture(png, `${assets}s13-img`, 'sm').s13__img
				form.form.s13__form(action="#") 
					p.form__title Рассчитаем стоимость#[br.d-md-none] за 5 минут по старым ценам
					.form__inputs
						.input-wrap 
							input.form__input.input(type="text" name="name" placeholder="Введите имя")
						.input-wrap 
							input.form__input.input.phone(type="tel" name="phone" placeholder="Введите номер телефона")
						input.input-hidden-descr(type="hidden" name="Описание" value="Рассчитаем стоимость за 5 минут по старым ценам")
						button.form__submit.uk-button.btn-solid-primary(type="submit") Рассчитать 
		section.s14
			.container 
				+picture(jpg, `${assets}s14-bg`, 'n').s14__img-bg
				h2.s14__or Или
				h2.s14__title Запишитесь на #[span.text-green видео презентацию#[br] и посмотрите наше производство онлайн]
				.s14__list 
					+picture(png, `${assets}s14-i1`, 'n').s14__list-img.s14__list-img--1
					+picture(png, `${assets}s14-i2`, 'n').s14__list-img.s14__list-img--2
					+picture(png, `${assets}s14-i3`, 'n').s14__list-img.s14__list-img--3
					.s14__list-item Менеджер созвонится с вами по видео связи в&nbsp;удобное для вас время
					.s14__list-item По видео продемонстрируем наше производство и&nbsp;с&nbsp;ориентируем вас о&nbsp;стоимости
					.s14__list-item Cразу узнайте условия доставки, о подготовке фундамента, сроках и&nbsp;по&nbsp;другим вопросам
				.s14__banya 
					+picture(png, `${assets}s14-banya`, 'n').s14__banya-img
					a.s14__banya-play(href=`#video1` data-uk-toggle)
						svg(viewBox="0 0 129 130" fill='none' xmlns='http://www.w3.org/2000/svg')
							circle(cx="64.7239" cy="64.7835" r="64.2601" fill="white")
							path(d="M64.7246 10.2834C34.3494 10.2834 9.72461 34.6839 9.72461 64.7834C9.72461 94.883 34.3494 119.283 64.7246 119.283C95.0999 119.283 119.725 94.883 119.725 64.7834C119.725 34.6839 95.0999 10.2834 64.7246 10.2834ZM83.734 67.6724L56.234 84.7036C55.6775 85.0479 55.0448 85.2209 54.4121 85.2209C53.8389 85.2209 53.2648 85.0796 52.7454 84.7935C51.6527 84.1931 50.9746 83.0537 50.9746 81.8147V47.7522C50.9746 46.5132 51.6527 45.3738 52.7454 44.7734C53.838 44.1697 55.1742 44.2063 56.234 44.8633L83.734 61.8945C84.7386 62.5183 85.3496 63.6094 85.3496 64.7834C85.3496 65.9575 84.7386 67.0488 83.734 67.6724Z" fill="#96C12A")
					.s14__banya-text: span Посмотрите, как это проходит#[br] видео презентация
				.s14__form-outer
					img(src=`${assets}s14-phone.svg` alt="").s14__form-phone.d-lg-none
					form.form.s14__form(action="#") 
						.s14__form-phone-mask
							img(src=`${assets}s14-phone-lg.svg` alt="").s14__form-phone.d-none.d-lg-block
						p.form__title Рассчитать стоимость на#[br.d-md-none] запись видео презентации
						.form__inputs
							.input-wrap 
								input.form__input.input(type="text" name="name" placeholder="Введите имя")
							.input-wrap 
								input.form__input.input.phone(type="tel" name="phone" placeholder="Введите номер телефона")
							input.input-hidden-descr(type="hidden" name="Описание" value="Рассчитать стоимость на запись видео презентации")
							button.form__submit.uk-button.btn-solid-primary(type="submit") Рассчитать 
		section.s10 
			.s10__container.container 
				.s10__nav
					h2.s10__title Контакты
					.d-none.d-lg-block 	
						a.s10__nav-btn.active(href="#") Производство Саратов
						a.s10__nav-btn(href="#") Производство Энгельс
						a.s10__nav-btn(href="#") Выставочная зона 
				.s10__map-wrap 
					//- .s10__map.ibg
					//- 	+picture(jpg, `${assets}s10-map`, 'sml').s10__map-img
					.s10__map.s10__map--1
						.s10__map-downloading
							.loadingio-spinner-rolling-hz3sd853mcv
								.ldio-ekx347c8429
									div
						.s10__map-script
					.s10__map-badge
						.s10__map-title Производство и#[br] отдел продаж:
						.s10__map-adress Саратов#[br] ул. Панфилова 53  
						a.s10__map-tel(href="tel:79272253387") +7 (927) 225-33-87
				.s10__map-wrap.d-lg-none
					//- .s10__map.ibg
						+picture(jpg, `${assets}s10-map`, 'sml').s10__map-img
					.s10__map.s10__map--2
						.s10__map-downloading
							.loadingio-spinner-rolling-hz3sd853mcv
								.ldio-ekx347c8429
									div
						.s10__map-script
					.s10__map-badge
						.s10__map-title Производство и#[br] отдел продаж:
						.s10__map-adress Энгельс#[br] ул. Банный остров 7
						a.s10__map-tel(href="tel:79670777662") +7 (967) 077-76-62
				.s10__map-wrap.d-lg-none
					//- .s10__map.ibg
						+picture(jpg, `${assets}s10-map`, 'sml').s10__map-img
					.s10__map.s10__map--3
						.s10__map-downloading
							.loadingio-spinner-rolling-hz3sd853mcv
								.ldio-ekx347c8429
									div
						.s10__map-script
					.s10__map-badge
						.s10__map-title Производство и#[br] отдел продаж:
						.s10__map-adress Саратов#[br] Вольский тракт 2А/2
						a.s10__map-tel(href="tel:79670777662") +7 (967) 077-76-62